{% extends "chongsite/base.html" %}
{% block content %}
  <div id="main">
    <div id="content">
      <div class="post">
        <h2 class="page-title">My Brief Biography</h2>
        <p>I majored in Chemical Engineering in college, and did Biomedical Chemistry in Master. Safely speaking, I am a guy from Science and Engineering background with interest in computer science.<span id="more-7"></span></p>
        <p>I did not realize I could be this interested in programming till I quit my job from a Pharm company in Long Island, and started to work in litigation support industry, where I was introduced to database, programming and etc. </p>
        <p>I started to learn MS SQL, and VBScript. Soon, I stopped exploring in VBScript, and started learning C#, with which I have built several desktop applications. Later, I was dazzled by how website works, and started learning Python and its famous web framework Django. Now I am still learning Python, C, C#, Java and Scala on daily basis, and especially deepen my understanding on how to build scalable web application and web server infrastructure.</p>
        <p>Have been a Windows user since day 1, now I am mostly using Linux at home, and only using windows at work since its in an enterprise environment. </p>
        <p>Open source has a huge impact on me, and makes me truly believe that knowledge should be and must be shared in order to be productive.</p>
        <p>With that being said, Apple, who always mocks PC/Windows, is actually just same as Windows, but with 1.5 times of PC/Windows price.</p>
        <p>Kudos to all open source contributors. Technology is progressed because of them. </p>
        <p>I am not a Jobs fan at all but I like his words "Stay hungry, Stay foolish!". </p>
      </div>
    </div>
{% endblock %}
