{% extends "chongsite/base.html" %}
{% block content %}

<div id="featured-section">
<h1>Some pictures</h1>
<br/>
<br/>
<div id="pictures">
<div> <p>Views</p>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image-3.jpg" data-lightbox="example-set" title="picture 1"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/thumb-3.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image-4.jpg" data-lightbox="example-set" title="picture 2"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/thumb-4.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image-5.jpg" data-lightbox="example-set" title="picture 3"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/thumb-5.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image-6.jpg" data-lightbox="example-set" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/thumb-6.jpg"  width="150" height="150"/></a>
</div>
<br/>
<br/>
<div><p>Random pictures</p>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image1_big.jpg" data-lightbox="example-set1" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/image1.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image2_big.jpg" data-lightbox="example-set1" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/image2.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image3_big.jpg" data-lightbox="example-set1" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/image3.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image4_big.jpg" data-lightbox="example-set1" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/image4.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image5_big.jpg" data-lightbox="example-set1" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/image5.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image6_big.jpg" data-lightbox="example-set1" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/image6.jpg"  width="150" height="150"/></a>
				<a class="example-image-link" href="../../media/chong_site/portfolio/images/image7_big.jpg" data-lightbox="example-set1" title="picture 4"><img class="example-image" src="../../media/chong_site/portfolio/images/thumbnail/image7.jpg"  width="150" height="150"/></a>

</div>


</div>


</div>
{% endblock %}